header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2D2B72; /* 헤더 배경색 설정 */
    color: #fff; /* 헤더 텍스트 색상 설정 */
}

.right-section-sm,
.menu {
    display: none;
}

#title-sm {
    display: none;
}

#home {
    width: 50px;
    height: 43px;
}

.left-section {
    display: flex;
    align-items: center;
}

.right-section {
    display: flex;
    justify-content: flex-end; /* 아이콘들을 오른쪽으로 정렬 */
    align-items: center;
}

.left-section img {
    width: 30px; /* 이미지 너비 설정 */
    height: 30px; /* 이미지 높이 설정 */
    margin-right: 10px;
}

.right-section img {
    width: 98px; /* 이미지 너비 설정 */
    height: 41px; /* 이미지 높이 설정 */
}

/* 반응형 */
/* 태블릿 */
@media screen and (max-width: 1100px) {
    .right-section-sm {
        display: block;
        display: flex;
        align-items: center;
    }

    .right-section-sm img:not(#header_bookmark-sm) {
        width: 60px;
        height: 60px; 
    }
    
    .right-section,
    .menu {
        display: none;
    }

    #header_bookmark-sm {
        width: 47px;
        height: 60px;
    }

    #title-sm {
        display: none;
    }
}

/* 모바일 */
@media screen and (max-width: 700px) {
    .right-section-sm,
    .right-section,
    #title {
        display: none;
    }

    .menu {
        display: block;
    }

    #title-sm {
        display: block;
    }
    
}