body {
    /* 배경색 변경 */
    background-color: #A2745A;
}

/* 반응형 작은 아이콘 숨김 */
#map_tacoyakki-sm,
#map_fishbread-sm,
#map_tteokbokki-sm {
    visibility: collapse;
}

/* 아이콘 숨김 */
.main-text {
    position: absolute;
    z-index: 9999;
    left: 60%; 
    top: 140px; 
    font-size: 75px;
    font-weight: bold;
}

.map-text {
    color: #345531; 
}

.location-pin {
    position: relative;
    z-index: 9999; 
}

#map_tacoyakki {
    position: absolute;
    left: 20%;
    top: 110px;
}

#map_fishbread {
    position: absolute;
    left: 65%;
    top: 250px;
}

#map_tteokbokki {
    position: absolute;
    left: 40%;
    top: 450px;
}

#bg_map {
    position: absolute;
    width: 90%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#bg_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
}

#bg_top {
    position: fixed;
    top: 0;
    right: 0;
}

@media screen and (max-width: 1000px) {
    #bg_map {
        width: 95%;
        height: 70%;
        top: 50%;
        left: 50%;
    }
    .main-text {
        position: absolute;
        z-index: 9999;
        left: 55%;
        top: 23%; 
        font-size: 5.4rem;
        font-weight: bold;
    }
    #map_tacoyakki {
        position: absolute;
        left: 14rem;
        top: 17rem;
        width: 14.6%;
    }
    #map_fishbread {
        position: absolute;
        left: 38rem;
        top: 25rem;
        width: 17.3%;
    }
    #map_tteokbokki {
        position: absolute;
        left: 20rem;
        top: 37rem;
        width: 16%;
    }
}

@media screen and (max-width: 700px) {
    .main-text {
        position: absolute;
        z-index: 9999;
        left: 25%; /* x 축 위치 */
        top: 120px; /* y 축 위치 */
        font-size: 60px;
        font-weight: bold;
    }

    #bg_map {
        width: 700px;
        height: 53%;
        transform: rotate(-90deg);
        top: 15.5rem;
        left: -7%;
    }
    
    #map_tacoyakki {
        position: absolute;
        left: 160px;
        top: 223px;
        width: 100px;
        height: 180px;
    }
    #map_fishbread {
        position: absolute;
        left: 340px;
        top: 280px;
        width: 118px;
        height: 200px;
    }
    #map_tteokbokki {
        position: absolute;
        left: 300px;
        top: 540px;
        width: 120px;
        height: 200px;
    }
}

@media screen and (max-width: 580px) {
    .location-pin-sm {
        position: relative;
        z-index: 9999; 
    }

    #map_tacoyakki-sm,
    #map_fishbread-sm,
    #map_tteokbokki-sm {
        visibility: visible;
    }
    
    #map_tacoyakki,
    #map_fishbread,
    #map_tteokbokki {
        visibility: collapse;
    }

    #bg_map {
        width: 800px;
        height: 430px;
        transform: rotate(-90deg);
        top: 19rem;
        left: -12.2rem;
    }

    .main-text {
        position: absolute;
        z-index: 9999;
        left: 8rem; 
        top: 9rem; 
        font-size: 4.5rem;
        font-weight: bold;
    }

    #map_tacoyakki-sm {
        position: absolute;
        top: 205px;
        left: 20%;
    }
    #map_fishbread-sm {
        position: absolute;
        top: 400px;
        left: 50%;
    }
    #map_tteokbokki-sm {
        position: absolute;
        top: 600px;
        left: 25%;
    }

}