/* css/header.css */
.left-section {
    display: flex;
    align-items: center;
}

.right-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-section-sm {
    display: none;
    /* 기본적으로 숨김 */
}

#title {
    font-size: 24px;
    font-weight: bold;
}

#title-sm {
    display: none;
    /* 기본적으로 숨김 */
}

.menu {
    display: none;
    /* 기본적으로 숨김 */
}

@media (max-width: 768px) {
    .right-section {
        display: none;
        /* 화면이 작아지면 숨김 */
    }

    .right-section-sm {
        display: flex;
        /* 화면이 작아지면 보임 */
    }

    #title {
        display: none;
        /* 화면이 작아지면 숨김 */
    }

    #title-sm {
        display: block;
        /* 화면이 작아지면 보임 */
    }

    .menu {
        display: block;
        /* 화면이 작아지면 보임 */
    }
}

/* css/search-add-screen.css */
.search {
    padding: 20px;
}

.search-add-bar {
    display: flex;
    align-items: center;
}

.input-bar {
    flex: 1;
    padding: 10px;
}

.btn-search {
    width: 32px;
    height: 32px;
}

.screen {
    margin-top: 20px;
}

.add-bookmark-popup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#add-map,
#add-bookmark {
    width: 32px;
    height: 32px;
}