body {
    /* 배경색 변경 */
    background-color: #A2745A;
}

.main-text {
    position: absolute;
    z-index: 9999;
    left: 60%; 
    top: 140px; 
    font-size: 75px;
    font-weight: bold;
}

.map-text {
    color: #345531; 
}

.location-pin {
    position: relative;
    z-index: 9999; 
}

#map_tacoyakki {
    position: absolute;
    left: 20%;
    top: 110px;
}

#map_fishbread {
    position: absolute;
    left: 65%;
    top: 250px;
}

#map_tteockbokki {
    position: absolute;
    left: 40%;
    top: 450px;
}

#bg_map {
    position: absolute;
    width: 90%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#bg_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
}

#bg_top {
    position: fixed;
    top: 0;
    right: 0;
}

@media screen and (max-width: 1000px) {
    #bg_map {
        width: 95%;
        height: 70%;
        top: 50%;
        left: 50%;
    }
    .main-text {
        position: absolute;
        z-index: 9999;
        left: 55%;
        top: 23%; 
        font-size: 5.4rem;
        font-weight: bold;
    }
    #map_tacoyakki {
        position: absolute;
        left: 14rem;
        top: 17rem;
        width: 14.6%;
    }
    #map_fishbread {
        position: absolute;
        left: 38rem;
        top: 25rem;
        width: 17.3%;
    }
    #map_tteockbokki {
        position: absolute;
        left: 20rem;
        top: 37rem;
        width: 16%;
    }
}

@media screen and (max-width: 720px) {
    #bg_map {
        width: 780px;
        height: 500px;
        transform: rotate(-90deg);
        top: 16.5rem;
        left: -6rem;
    }
    .main-text {
        position: absolute;
        z-index: 9999;
        left: 190px; /* x 축 위치 */
        top: 120px; /* y 축 위치 */
        font-size: 60px;
        font-weight: bold;
    }
    #map_tacoyakki {
        position: absolute;
        left: 160px;
        top: 223px;
        width: 130px;
        height: 235px;
    }
    #map_fishbread {
        position: absolute;
        left: 375px;
        top: 200px;
        width: 150px;
        height: 247px;
    }
    #map_tteockbokki {
        position: absolute;
        left: 300px;
        top: 540px;
        width: 148px;
        height: 235px;
    }
}

@media screen and (max-width: 540px) {
    #bg_map {
        width: 800px;
        height: 430px;
        transform: rotate(-90deg);
        top: 19rem;
        left: -12.2rem;
    }
    .main-text {
        position: absolute;
        z-index: 9999;
        left: 8rem; 
        top: 9rem; 
        font-size: 4.5rem;
        font-weight: bold;
    }
    #map_tacoyakki {
        position: absolute;
        left: 83px;
        top: 220px;
        width: 130px;
        height: 235px;
    }
    #map_fishbread {
        position: absolute;
        left: 270px;
        top: 300px;
        width: 150px;
        height: 247px;
    }
    #map_tteockbokki {
        position: absolute;
        left: 210px;
        top: 580px;
        width: 148px;
        height: 235px;
    }
}