body {
    /* 배경색 변경 */
    background-color: #A2745A;
}

/* 배경 : 꾸밈사진 */
.background-img {
    position: relative;
}

/* 맛인드맵 텍스트 */
.main-text {
    position: absolute;
    z-index: 9999;
    left: 1100px; /* x 축 위치 */
    top: 140px; /* y 축 위치 */
    font-size: 87px;
    font-weight: bold;
}

/* 맛인드맵에서 맵 부분만 색깔 변경 */
.map-text {
    color: #345531; 
}

/* 맵 핀 아이콘 앞으로 오게하기 */
.location-pin {
    position: relative;
    z-index: 9999; /* 다른 요소보다 위에 나타나게 설정 */
}

/* 맵 핀 아이콘 위치 잡기 */
/* 타코야끼 */
#map_tacoyakki {
    position: absolute;
    left: 460px;
    top: 110px;
}

/* 붕어빵 */
#map_fishbread {
    position: absolute;
    left: 950px;
    top: 250px;
}

/* 떡볶이 */
#map_tteockbokki {
    position: absolute;
    left: 300px;
    top: 450px;
}

/* 지도 이미지 */
#bg_map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

/* 맛인드맵 배경 무늬 */
/* 아랫쪽 */
#bg_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
}

/* 윗쪽 */
#bg_top {
    position: fixed;
    top: 0;
    right: 0;
}

/* 반응형 */
/* 데스크탑 */
@media screen and (max-width: 720px) {

}

/* 태블릿 */
@media screen and (max-width: 540px) {
    /* 지도 이미지 */
    #bg_map {
        width: 90%;
        top: 50%;
        left: 50%;
        transform: rotate(90deg);
    }

    /* 아이콘 */
    /* 타코야끼 */
    #map_takoyakki {
        width: 230px;
        height: 300px;
    }
    /* 붕어빵 */
    #map_fishbread {
        
    }
    /* 떡볶이 */
    #map_tteokbokki {
        
    }

    /* 맛인드맵 텍스트 */
    .main-text {
        left: auto;
        font-size: 50px;
    }
}

/* 모바일 */